td {
    border: 1px solid black;
}

ul.nav {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.nav{
    display: inline;
    margin: 0;
    padding: 0;
}

li a {
    padding: 5px;
    text-align: center;
}

li a:hover {
    padding: 5px;
    text-decoration: none;
}

li a:visited {
    color: darkblue;
}

footer {
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    left:0;
    bottom: 0;
}