/*
Color Palette Mashup 
A: #021D40
B: #5377A6
C: #6997BF
D: #89BAD9
E: #F2F2F2
(can be changed)
*/
td {
    border: 1px solid black;
}

ul.nav {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.nav{
    display: inline;
    margin: 20px;
    padding: 0;
}

li a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    padding: 5px;
    font-weight: bold;
}

li a:visited {
    color: darkblue;
}

footer {
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    left:0;
    bottom: 0;
}
body{
    background-color: #021d40;
    color: #f2f2f2
}
header {
    background-color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    word-spacing: 3px;
    font-size: 1.2em;
    color:#021d40;
    border-radius: 10px;
}