/*
Color Palette Mashup 
A: #021D40
B: #5377A6
C: #6997BF
D: #89BAD9
E: #F2F2F2
(can be changed)
*/


ul.nav {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

li.nav{
    display: inline;
    margin: 20px;
    padding: 0;
}

li a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    padding: 5px;
    font-weight: bold;
}

li a:visited {
    color: darkblue;
}

footer {
    background-color: burlywood;
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer p {
    padding: 0px 10px;
}

body, html {
    background-color: #021d40;
    color: #f2f2f2;
    height: 100%;
}

header {
    background-color: lightblue;
    text-align: center;
    padding: 14px 16px;
    word-spacing: 3px;
    font-size: 1.2em;
    color:#021d40;
    border-radius: 10px;
}

div.content {
    max-width: 960px;
    margin: auto;
}

h1, h3, table, p, form{
    padding: 5px 10px 5px 10px;
}

form h3 {
    padding: 0px;
}

td {
    border: 1px solid #f2f2f2;
    /*May want to darken the cell bg-color*/
    background-color: #5377a6;
    width: 460px;
    padding: 5px;
    margin: 5px;
}

td p, td h3 {
    padding: 0px 5px;
}

.image-holder {
    background: #021d40 url(Images/synchronized\ swimming.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    width: 100%;
    text-align: center;

    margin-top: 0px;
}

* {
    font-family: sans-serif;
    font-size: 24px;
}

h1 {
    padding-top: 30px;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

