/*
Color Palette Mashup 
A: #021D40
B: #5377A6
C: #6997BF
D: #89BAD9
E: #F2F2F2
(can be changed)
*/


ul.nav {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

li.nav{
    display: inline;
    margin: 20px;
    padding: 0;
}

li a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color:darkblue;
}

li a:hover {
    padding: 5px;
    font-weight: bold;
}


footer {
    background-color: burlywood;
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer p {
    padding: 0px 10px;
}

body, html {
    background-color: #021d40;
    color: #f2f2f2;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: lightblue;
    text-align: center;
    padding: 14px 16px;
    word-spacing: 3px;
    font-size: 1.2em;
    color:#021d40;
    border-radius:10px;
}

div.content {
    max-width: 960px;
    margin: auto;
}

h1, h3, table, p, form{
    padding: 5px 10px 5px 10px;
}

form h3 {
    padding: 0px;
}

td {
    border: 1px solid #f2f2f2;
    /*May want to darken the cell bg-color*/
    background-color: #5377a6;
    width: 460px;
    padding: 5px;
    margin: 5px;
}

td p, td h3 {
    padding: 0px 5px;
}


.image-holder {
    background: #021d40 url(Images/synchronized\ swimming.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    width: 100%;
    text-align: center;

    margin-top: 0px;
}


* {
    font-family: sans-serif;
    font-size: 24px;
}

h1 {
    padding-top: 30px;
    font-size: 40px;
}

#as4{
    background-color: #5377a6;
    border:2px solid #f2f2f2;
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 100px;
    padding: 8px;
    left: 0%;
    top:15px;
    animation:1s titre;
}

@keyframes titre {
    from{
        background-color: #5377a6;
        border:2px solid #f2f2f2;
        border-radius: 15px;
        position: relative;
        width: 100%;
        height: 100px;
        padding: 8px;
        left: 200%;
        top:15px;
    }
    to{
        background-color: #5377a6;
        border:2px solid #f2f2f2;
        border-radius: 15px;
        position: relative;
        width: 100%;
        height: 100px;
        padding: 8px;
        left: 0%;
        top:15px;
    }
}




#name_long{
    line-height: 5px;
}



.desc_para{
    font-size:40px;
    font-weight: bolder;
    font-family: "montserrat" sans-serif !important;
    color:#021d40;
    background-color: #f2f2f2;
    border: 3px solid #021d40;
    width: 140%;
    padding:0;
    line-height: 30px;
    border-radius: 4px;
    position: relative;
    margin-top: 20%;
    left:-20%;
    transform:skew(-12deg);
    animation:1s description;
}

.desc_para p{
    transform: skew(12deg);
}

@keyframes description{
    from{
        font-size:40px;
        font-weight: bolder;
        font-family: "montserrat" sans-serif !important;
        color:#021d40;
        background-color: #f2f2f2;
        border: 3px solid #021d40;
        width: 140%;
        padding:0;
        line-height: 30px;
        border-radius: 4px;
        position: relative;
        margin-top: 20%;
        left:-300%;
        transform:skew(-12deg);
        opacity: 0;

    }
    to {
        font-size:40px;
        font-weight: bolder;
        font-family: "montserrat" sans-serif !important;
        color:#021d40;
        background-color: #f2f2f2;
        border: 3px solid #021d40;
        width: 140%;
        padding:0;
        line-height: 30px;
        border-radius: 4px;
        position: relative;
        margin-top: 20%;
        left:-20%;
        transform:skew(-12deg);
        opacity:1;
    }
}


h2 {
    font-size: 30px;
}

.buy_button {
    position: relative;;
    display:block;
    color:#021d40;
    border-radius: 10px;
    margin:2% 0;
    border:5px solid #021d40;
    overflow: hidden;
    padding:2% 8%;
    z-index: 1;
    transition:1s all ease;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background-color: #f2f2f2;
    
}

.buy_button::before {
    background:#89bad9;
    content:"";  
    width: 100%;  
    height: 0%;
    position: absolute;
    transform:translate(-50%, -50%) rotate(45deg);
    top:50%;
    z-index: -1;
    left: 50% ;
    transition:0.6s all ease;

}

.buy_button:hover{
    cursor: pointer;;
}

.buy_button:hover::before{
    height: 1000%;
}

.contact_us{
    background-color:#f2f2f2;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    margin-left: 30%;
    height: 100px;
}

#join_us{
    padding:0;
    margin: 0;
    color:#021d40;
}

.logo_media{
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-top: 10px;
    overflow:hidden;
    transition:200ms;
}

.logo_media:hover{
    width: 50px;
    height: 45px;
}
